#
# SPDX-FileCopyrightText: Copyright 2025 Arm Limited and/or its affiliates <open-source-office@arm.com>
# SPDX-License-Identifier: Apache-2.0
#
name: Build ML SDK

on:
  push:
    branches:
      - macos_ci
  workflow_dispatch:
  workflow_call:
    inputs:
      changed_repo: { type: string, required: true }  # e.g., org/repo-a
      changed_sha:  { type: string, required: true }  # e.g., 40-char sha

permissions:
  contents: read
  packages: read

env:
  MANIFEST_URL: https://github.com/${{ github.repository_owner }}/ai-ml-sdk-manifest.git
  REPO_DIR: ${{ github.workspace }}/sdk
  INSTALL_DIR: ${{ github.workspace }}/install
  CHANGED_REPO: ${{ inputs.changed_repo }}
  CHANGED_SHA: ${{ inputs.changed_sha }}

jobs:
#  build:
#    runs-on: ${{ matrix.platform }}
#    strategy:
#      matrix:
#        include:
#          - platform: ubuntu-24.04
#            arch_tag: amd64
#          - platform: ubuntu-24.04-arm
#            arch_tag: arm64
#      fail-fast: false
#
#    container:
#      image: ghcr.io/${{ github.repository_owner }}/ml-sdk-linux-${{ matrix.arch_tag }}:latest
#      credentials:
#        username: ${{ github.actor }}
#        password: ${{ secrets.GITHUB_TOKEN }}
#      options: --user root
#
#    steps:
#      - uses: actions/checkout@v4
#      - name: Clone repositories and build
#        run: .github/workflows/scripts/ci_build.sh

  build_macos:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Vulkan SDK
        uses: jakoch/install-vulkan-sdk-action@v1

      - name: Configure Vulkan env
        run: |
          echo ls -l ./lavapipe
#          echo "VULKAN_SDK=$VULKAN_SDK"
#          echo "DYLD_LIBRARY_PATH=$DYLD_LIBRARY_PATH"
#          ICD_JSON="$(echo "$HOME/lavapipe"/share/vulkan/icd.d/*.json | awk '{print $1}')"
#          echo "VK_ICD_FILENAMES=$ICD_JSON" >> "$GITHUB_ENV"
#          export VK_LAYER_PATH="$VULKAN_SDK/macOS/share/vulkan/explicit_layer.d"
#          # Make the env visible to later steps
#          {
#            echo "VK_ICD_FILENAMES=$VK_ICD_FILENAMES"
#            echo "VK_LAYER_PATH=$VK_LAYER_PATH"
#          } >> $GITHUB_ENV

      - name: Verify Vulkan installation
        run: |
          vulkaninfo

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r ./requirements.txt
          pip install -r ./tooling-requirements.txt

      - name: brew install
        run: |
          brew install doxygen repo xmlstarlet

      - name: Install clang-format 14 (macOS)
        run: |
          brew install llvm@14
          echo "$(brew --prefix llvm@14)/bin" >> "$GITHUB_PATH"

      - name: Clone repositories and build
        env:
          VMEL_GRAPH_SEVERITY: debug
          VMEL_TENSOR_SEVERITY: debug
          VMEL_COMMON_SEVERITY: debug
          VK_LOADER_DEBUG: all
        run: .github/workflows/scripts/ci_build.sh
